Source: haliumqsgcontext
Section: libs
Priority: optional
Maintainer: UBports Developers <developers@ubports.com>
Build-Depends: cmake,
               cmake-extras (>= 0.10),
               debhelper (>= 9),
               libgles2-mesa-dev,
               libhybris-dev,
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-private-dev,
Standards-Version: 3.9.5
Homepage: https://github.com/halium/haliumqsgcontext

Package: haliumqsgcontext
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: A Qt Scene Graph context plugin for even better Halium integration
 haliumqsgcontext enhances the capabilities of the Qt Scene Graph for both the
 graphical shells and their applications by hooking into Qt's hardware integration.
 .
 This package provides the haliumqsgcontext Qt Scene Graph plugin.
